<!DOCTYPE html>
<html>
  <head>
    <title>Uber pickups in NYC</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/apexcharts/apexcharts.css">
  </head>
  <body style="margin: auto; width: 75%;">
    <div class="container" style="text-align: center;">
      <h1 class="mt-5">Uber pickups in NYC, Sept 2014</h1>
      <h3 class="mt-4">Number of pickups by hour</h3>
      <div id="chart" style="width: 100%; height: 400px;"></div>
    </div>
    <script src="/apexcharts/apexcharts.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
      const data = {{data}};
      const options = {
        chart: {
          type: 'bar',
          height: '100%',
        },
        series: [{
          name: 'Pickups',
          data: Object.values(data),
        }],
        xaxis: {
          categories: Object.keys(data),
        },
      };
      const chart = new ApexCharts(document.querySelector('#chart'), options);
      chart.render();
    </script>
  </body>
</html>
